* {
  margin: 0;
  padding: 0;
}

/*div {*/
/*  background-color: black;*/
/*}*/

/*img {*/
/*  width: 100%;*/
/*}*/

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px -9px 46px -8px rgba(0,0,0,0.75);
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.main {
  background-image: url(./assets/header.jpg);
}

.second {
  background: darkgray;
}

.third {
  background-image: url(./assets/IBM/Background.jpg);
}

.fourth {
  background-image: url(./assets/UNC/UNC_Campus.jpg);
}

.fifth {
  background-image: url(./assets/Xavier/Background.jpg);
}

.sixth {
  background-image: url(./assets/Tulane/Tulane_Background.jpg);
}

.seventh {
  background-image: url(./assets/Dartmouth/Dartmouth_Campus.jpg);
}

.eighth {
  background-image: url(./assets/LSU/LSU_Campus.jpg);
}

.blur {
  background: rgba(0,0,0,0.4);
  color: white;
  padding: 25px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*.custom-class {*/
/*  z-index: 1;*/
/*  position: fixed;*/
/*}*/

/*.testContainer {*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  transform: translateX(0px) scale(1);*/
/*  left: 0px;*/
/*  transition: transform 0.2s ease 0s;*/
/*  overflow: auto;*/
/*  background: rgb(255, 255, 255);*/
/*}*/
