* {
    margin: 0;
    padding: 0;
}

.outer {
    background-color: black;
}

.text {
    fill: white
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-image: url(assets/header.jpg);
}

#name {
    max-height: 25vh;
    min-height: 10vh;
    height: 8vw;
    width: 60%;
    font-size: 8vw;
    text-align: center;
    padding: 2%;
    background: rgba(0, 0, 0, 0.7);
    color: white
}

#icons {
    max-height: 25%;
    width: 60%;
    background: rgba(0, 0, 0, 0.7);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-bottom: 25vh
}

#icons a img {
    max-height: 95%;
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
}
