* {
  margin: 0;
  padding: 0;
}

.outer {
  background-color: black;
}

/*div {*/
/*  background-color: black;*/
/*}*/

/*img {*/
/*  width: 100%;*/
/*}*/

/* ;*/

.container {

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px -9px 46px -8px rgba(0, 0, 0, 0.75);
}

.big {
  height: 100vh;
}

.medium {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small {
  min-height: 34vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px -9px 46px -8px rgba(0, 0, 0, 0.75);
  background-position: 0% 20%;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .small {
    flex-direction: column;
  }

  .title {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.title {
  margin-right: 20px;
  margin-bottom: 0px;
}

.para {
  flex-grow: 1;
}

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  background-image: url(./assets/header.jpg);
}

.icon {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.iconDiv {
  width: 10%;
  height: 10%;
}

#aboutme {
  background: darkgray;
}

#IBM {
  background-image: url(./assets/IBM/background.jpg);
  background-position: 0% 70%
}

#UNC {
  background-image: url(assets/UNC/background.jpg);
  background-position: 0% 20%
}

#Duke {
  background-image: url(assets/Duke/background.jpg);
  background-position: 0% 30%
}

#Xavier {
  background-image: url(./assets/Xavier/background.jpg);
  background-position: 0% 30%
}

#Tulane {
  background-image: url(assets/Tulane/background.jpg);
  background-position: 0% 40%
}

#Dartmouth {
  background-image: url(assets/Dartmouth/background.jpg);
  background-position: 0% 30%
}

#LSU {
  background-image: url(assets/LSU/background.jpg);
  background-position: 0% 35%
}

.blur {
  background: rgba(0,0,0,0.4);
  color: white;
  padding: 25px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*.custom-class {*/
/*  z-index: 1;*/
/*  position: fixed;*/
/*}*/

/*.testContainer {*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  transform: translateX(0px) scale(1);*/
/*  left: 0px;*/
/*  transition: transform 0.2s ease 0s;*/
/*  overflow: auto;*/
/*  background: rgb(255, 255, 255);*/
/*}*/
